@model School_Maintenance.Models.Aulas

@{
    ViewBag.Title = "Eliminar Aula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3>Seguro que Desea Eliminar esta Aula?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Aulas", FormMethod.Post, new { id = "CreateForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" onclick="ValidateDeleteSubmit(this, event)" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
